
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      return request.auth.token.admin == true;
    }

    // Allow uploads if the user is authenticated (even anonymously)
    // and the file is an image under 5MB.
    match /payment_screenshots/{userId}/{bookingId}/{allPaths=**} {
      allow write: if request.auth != null && 
                      request.resource.size < 5 * 1024 * 1024 &&
                      request.resource.contentType.matches('image/.*');
    }
    
    // Allow an authenticated user (the one who uploaded) or an admin to read screenshots.
    match /payment_screenshots/{userId}/{allPaths=**} {
        allow read: if (request.auth != null && request.auth.uid == userId) || isAdmin();
    }
  }
}
